/* Write your CSS here */
.bg-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-lg-bg.png');
  min-height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
}

.home-page-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ipl-logo {
  width: 50px;
  margin-right: 15px;
}

.main-heading {
  color: #ffffff;
  font-weight: Bold;
  font-size: 50px;
}

.match-card-container {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  justify-content: center;
}
